<%- include("header") -%>
<div class="box" id="heading">
  <h1>
    <%= listTitle %>
  </h1>
</div>
<script>
    async function deleteItem(item) {
        const name = item.textContent.trim();
        console.log(name);
        const res = await fetch("http://localhost:6969/delete", {
        method: "POST",
        body: JSON.stringify({
          name: name
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      });
      console.log(res.status);
    }
</script>
<div class="box">
  <% newListItems.forEach(function(item) { %>

  <div class="item">
    <input type="checkbox" name="cBox" onClick="deleteItem(event.target.parentElement)">
    <p><%= item.name %></p>
  </div>
  <% }) %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list">+</button>
  </form>
</div>
<%- include("footer") -%>